h1{
  margin-bottom: 10px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  align-items: center;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
